version: '3.9'

services:
  postgres:
    container_name: postgres-db
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: dunzo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./docker/postgres-data:/var/lib/postgresql/data

  redis:
    container_name: redis-cache
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - ./docker/redis-data:/data
