version: '3.9'

services:

  api:
    container_name: nest-api
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: npm run start:dev
    ports:
      - "3000:3000"
    environment:
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: mydb
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules

  postgres:
    container_name: postgres-db
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./docker/postgres-data:/var/lib/postgresql/data

  redis:
    container_name: redis-cache
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - ./docker/redis-data:/data

volumes:
  postgres-data:
  redis-data:
